main{
    min-height: 100vh;
  }
  
  form{
    width: 300px;
  }


.style2{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 10% 17% 10%;
    min-height: 70px;
}

.salvar{
    cursor: pointer;
}


.cadastrado button{
  padding: 10px;
  margin-bottom: 10px;
  width: 20vh;
  margin: 10% 29% 10%;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
