*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #1E2019;
}

a{
    text-decoration: none;
    color: #F5D547;
    font-size: 50px;
}

a:hover{
    color: #F4D06F;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}
.logo{
    float: left;
    margin:20px;

}
.input{
    height: 30px;
    width: 150px;
    color: black;
}
.lupa{
    font-size: 25px;
    margin: 10px;
    background-color: #1E2019;
    color: white;
}

.Form{
    justify-content: space-between;
}

.account{
    margin-right: 30px;
    background-color: black;
    font-size: 40px;
}

